<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7113f5d9-bc2c-458f-819d-1004050c9bf4/resourceGroups/Calculator/providers/Microsoft.Web/sites/income-calculator-api</ResourceId>
    <ResourceGroup>Calculator</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://income-calculator-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>4fd279f9-9948-48e9-b09b-5a2113e2d874</ProjectGuid>
    <MSDeployServiceURL>income-calculator-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>income-calculator-api</DeployIisAppPath>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$income-calculator-api</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9WhKkmtlGUilzvtD/kDDdAAAAAACAAAAAAAQZgAAAAEAACAAAAA3TlL8KSrAyWj/8Oh8oJteYFDIHIXHCnrrbw5EwjOxYgAAAAAOgAAAAAIAACAAAACz/AFdvlLBfL2Z+rQ1tsSqUlqFgzqQlOd/6defD/jYYIAAAACvQgwpjGTrIh3cs/vkEgEtwfyT4KTVPuWU32lndjMVo231bK/Z5b+8fLn3Tko3Ul/wJ+MaoJgpMHu/3BOhP1wiIx6RsE2uQeZCq3mTAoITvQzd58LwC2UjO0AXOBjAFN19K7WJJI+goztG8CleYk33BVqZ95PdExmgCus5WnAKrEAAAACfuXFnbwDbsk+JZ+OR1SJNrTCn3XbOS7FuyuvH1v38hBEASr0zhEme83jAT+oXMFbfJyhxEa/MQACU+RyXH7WJ</EncryptedPassword>
    <History>False|2024-04-19T10:48:25.2786792Z;False|2024-04-19T11:42:20.3852434+01:00;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <EnvironmentName>Production</EnvironmentName>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
  </PropertyGroup>
</Project>